/.env
/.seed
/Certified-billing.pdf
/sampleFile.txt
/test.txt
/downLoaded_sampleFile2.txt
/Norton_20240506_15618PM.pdf
/flat_13.jpg
/downLoaded_usd-coin.svg
/elastic_nets_19.gif
/downLoaded_SampleFile.txt
/sampleFile2.txt
/usd-coin.svg
/.apt_generated/
/.apt_generated_tests/
